/Java/Hello/nbproject/private/
/Java/Hello/build/
/Java/JavaApplication3/nbproject/private/
/Java/JavaApplication3/build/
/Java/Basic/Using Variables/nbproject/private/
/Java/Basic/Using Variables/build/
/Java/Basic/Toutorial3/nbproject/private/
/Java/Basic/Toutorial3/build/